.home {
    padding: 2rem;
    max-width: 1000px;
    margin: 0 auto;
  
    h1 {
      font-size: 3rem;
      color: #222;
      margin-bottom: 1rem;
    }
  
    h2 {
      font-size: 2rem;
      margin-top: 2rem;
      margin-bottom: 1rem;
      color: #285f4d;
    }
  
    p {
      font-size: 1.1rem;
      line-height: 1.6;
      color: #444;
    }
  
    a {
      display: inline-block;
      margin-top: 2rem;
      margin-right: 1rem; // ← aquí separamos los botones
      background-color: #285f4d;
      color: white;
      padding: 0.6rem 1.2rem;
      border-radius: 4px;
      text-decoration: none;
      font-weight: 500;
  
      &:hover {
        background-color: #3b7b64;
      }
    }
  }
  